extends ../_main

block title
  title #{title} &mdash; #{public.blog._data.index.title}

block body
  body
    // Header
    != partial("../_header", {headerClass: "skel-layers-fixed"})

    // Main
    section.container#main
      header
        h2= title
        p
          = author
          | &nbsp;&middot;&nbsp; 
          = date
      .box
        if featuredImage
          span.image.featured: img(src="#{featuredImage}" alt="#{title} Image")
        != yield
